<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Home page
    </h1>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque corporis debitis deleniti, distinctio
        doloribus, explicabo fugiat minima molestias, nemo non odit officia reiciendis reprehenderit soluta veniam vero
        voluptate voluptatibus!
    </div>
    <div>Aperiam, asperiores aspernatur at atque aut beatae deleniti distinctio dolorem dolores dolorum ducimus
        excepturi facere ipsa itaque modi nihil obcaecati officiis provident, quisquam recusandae rem repudiandae
        tempora vel voluptatem voluptatum?
    </div>
    <div>Accusamus aspernatur cupiditate dolorem ducimus enim, in iste iusto magnam modi molestias nam nihil obcaecati
        odit, quaerat quibusdam reiciendis rem repellendus sequi soluta voluptatum! Assumenda at consectetur ipsa
        placeat tenetur?
    </div>
    <div>Accusantium alias animi architecto assumenda aut consequatur corporis delectus dolorum et exercitationem,
        fugiat, harum id illum inventore iste itaque laborum minus molestiae nemo nostrum perspiciatis rem sint suscipit
        tenetur voluptatem?
    </div>
</body>
</html>