.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yello {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}