.green {
    color: green;
}

.purple {
    color: purple;
}

.red {
    color: red;
}

.yello {
    color: yellow;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}


.blue-border {
    border: 4px solid blue;
}