.box {
    width: 70%;
    height: auto;
    background-color: #d6dbf3;
    color: #8535db;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    border-radius: 3%;
}

hr {
    border: 1px solid #b282fa8e;
    width: 70%;
}

.box-center {
    align-content: center;
    justify-content: center;
    width: 33%;
    margin: 20px 0;
    border-left: 1px solid #b282fa8e;
    border-right: 1px solid #b282fa8e;
    padding: 1rem 2rem 5rem 1em;
}

.box-left,
.box-right {
    align-content: center;
    justify-content: center;
    margin: 20px 0;
    width: 33%;
    padding: 1rem 2rem 5rem 1em;
}

.title-box,
.price {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1em;
    color: #6b6b74;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.price {
    color: #8535db;
    font-size: 2rem;
}

img {
    width: 90%;
    height: 7em;
}

button {
    align-content: center;
    justify-content: center;
    padding: 0.7em 2em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #8535db;
    border: 1px solid gray;
    color: white;
    border-radius: 10%;
}
