.border1 {
    background-color: #073b4c;
    color: #06d6a0;
    width: 300px;
    height: 250px;
    font-size: 44px;
    border-width: 5px;
    border-color: #118ab2;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 10%;
    text-align: center;
}

.border2 {
    background-color: #81b29a;
    color: #f4f1de;
    width: 300px;
    height: 250px;
    font-size: 44px;
    /* border-width: 3px;
    border-color: #3d405b;
    border-style: solid; */
    border: 3px solid #3d405b;
    box-sizing: border-box;
    border-bottom-color: black;
    border-bottom-width:  1px;
    text-align: center;
}